<div class="row m-0 p-1 text-center">
  <div class="col-12 float-right m-1">
    <label for="#">{{value}}</label>
    <button class="btn btn-dark btn-sm">Create Goal</button>
  </div>
  <div class="col-12 row m-0">
    <div class="col">
      <h1 class="rounded bg-primary">Backlog</h1>
    </div>
    <div class="col">
      <h1 class="rounded bg-success">Started</h1>
    </div>
    <div class="col">
      <h1 class="rounded bg-warning">Paused</h1>
    </div>
    <div class="col">
      <h1 class="rounded bg-info">Completed</h1>
    </div>
    <div class="col">
      <h1 class="rounded bg-danger">Archived</h1>
    </div>
  </div>
</div>
