.goals-container {
  padding: 0;

  .goals-control {
    display: flex;
    background-color: whitesmoke;
    padding: 0.5rem;
    justify-content: flex-end;
  }

  .goals-overview {
    position: relative;
    margin: 0;
    padding: 0;
    gap: 0.1rem;
    overflow: auto;

    .goal-column {
      margin: 0;
      padding: 0;

      h3 {
        margin: 0;
        padding: 0.2rem;
        background-color: lightgrey;
        border-radius: 0.2rem;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      }
    }
  }
}
