.goals-container {
  padding: 0;

  .goals-control {
    display: flex;
    background-color: whitesmoke;
    padding: 0.5rem;
    justify-content: flex-end;
  }

  .goals-overview {
    position: relative;
    margin: 0;
    padding: 0;
    gap: 0.1rem;
    overflow: auto;

    .goal-column {
      margin: 0;
      padding: 0;

      h3 {
        margin: 0;
        padding: .1rem;
        padding-left: .5rem;
        background-color: rgb(1, 1, 1);
        color: whitesmoke;
        border-radius: .5rem .5rem 0 0;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      }
    }
  }
}
